body {
	background: var(--main-bg-color);
}

h2 {
	color: var(--main-dark-color);
	font-size: 1.75rem;
	margin-bottom: 1rem;
}

p {
	color: var(--main-dark-color);
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

li {
	list-style-type: none;
}

mark {
	background: -o-linear-gradient(190deg,rgba(250,247,133,.3),rgba(250,247,133,.7) 95%,rgba(250,247,133,.1));
	background: linear-gradient(-100deg,rgba(250,247,133,.3),rgba(250,247,133,.7) 95%,rgba(250,247,133,.1));
	border-radius: 1em 0 1em 0;
}

input, textarea {
	width: 100%;
	background: var(--white-color);
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
}

input[type="submit"] {
	width: auto;
	display: inline-block;
	color: var(--white-color);
	background: var(--blue-color);
	cursor: pointer;
}

blockquote {
	border-left: 0.25rem solid var(--main-dark-color);
	padding-left: 1rem;
}

article {
	a {
		color: var(--link-color);
	}
	ul, ol {
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	li {
		font-size: 1.25rem;
		list-style-type: disc;
	}
}

.color-link {
	color: var(--link-color);
}

.bg-custom-blue {
	background: var(--blue-color);
}
.bg-custom-gray {
	background: var(--light-dark-color);
}