@font-face {
	font-family: 'ProximaNova';
	src: url($url_theme+'/fonts/ProximaNova-Regular.eot');
	src: url($url_theme+'/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url($url_theme+'/fonts/ProximaNova-Regular.woff') format('woff'),
	url($url_theme+'/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-display: swap;
}