.post {
	&-item {
		&:first-of-type {
			.post-item__img {
				display: block;
			}
		}
		&__img {
			height: 350px;
			display: none;
			-o-object-fit: cover;
			object-fit: cover;
			@include for-phone {
				height: 250px;
			}
		}
		&__content {
			margin-left: 48px;
		}
	}
	&-categories {
		&__link {
			color: var(--main-dark-color);
			background: var(--main-bg-color);
			font-size: 0.85rem;
		}
	}
	&-category {
		&__block {
			background: var(--light-bg-color);
			border: 1px solid var(--border-color);
		}
		&__color {
			width: 100%;
			height: 30px;
		}
	}
	&-author {
		&__avatar {
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}
	}
	&-thumb {
		max-height: 400px;
	}
	&-related {
		background: var(--light-bg-color);
		border: 1px solid var(--border-color);
	}
	&-comments {
		background: var(--light-bg-color);
		border: 1px solid var(--border-color);
	}
	article {
		h2 {
			background: rgba(255, 239, 186, 0.59);
			text-align: center;
			padding: 1.25rem;
		}
	}
}

/* !!!Comments!!! */
#wait_approval {
	color: #ffffff;
	background: #08090a;
	padding: 1rem;
}

.comment .children {
	margin-left: 2rem;
	margin-top: 1.25rem;
}

.comment-respond {
	margin: 1rem 0;
}
.comment-reply-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}